body{
    background-color: rgb(224, 24, 124);

}
h1{
    font-size: 60px;
font-family: fantasy;
text-align: center;
}
.a{
    font-size: 27px;
  font-family: monospace;
}
.b{
   font-size: 19px;
   font-family: cursive;
   background-color: rgb(245, 92, 163);
    border-radius: 30px;
    padding-top: 10px;
   
}
div{
    padding-top: 6lh;
    padding-left: 10lh;
    padding-right: 20lh;
      


}
ul,h1{
    background-color: rgb(183, 233, 233);
    border-radius: 30px;
}

